*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 67.5%;
  font-family: sans-serif;
}

.container {
    padding: 10rem;
    display: grid;
    grid-template-rows: 10rem 10rem;
    /* put the odd itm in the the third column on its own column auto */
    grid-auto-flow: column;
    /* grid-auto-flow: dense; */
    /* put four columns each of the width of 100px */
    /* grid-template-columns: 10rem 20rem 10rem 10rem; */
    grid-template-columns: 10rem auto 10rem 10rem;
    /* introduce a gap between each column */
    grid-column-gap: 1rem;
    grid-row-gap:1rem;
    /* shorthand for the above */
    /* 1st is row gap 2nd is column gap */
    grid-gap: 3rem 3rem;
    /* or even simpler if both are the same */
    grid-gap: 1rem;
    /* another shorthand sample of grid with rows and columns like that */
    display: grid;
    grid: 20rem 20rem / 20rem auto 20rem 20rem;
}

.container > div {
    border:0.1rem solid red;
    background:  #373242;
    color: #ffffff;
    /* height: 10rem; */
    font-size:1rem;
    /* width: 10rem; */
    text-align: center;
    /* make it always to the height of the cell - see above */
    line-height: 20rem;
}
